@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	width: screen;
	overflow-x: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
