@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	@apply w-1.5;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-dark rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
	background: #555; /* Color of the thumb on hover */
}

body {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	width: 100%;
	overflow-x: hidden;
}

main {
	@apply px-12;
}

section {
	@apply h-screen;
}
/* Typo */
.text-paragraph {
	@apply text-xs lg:text-2xl text-center leading-[24px] lg:leading-[36px] font-[275] text-white/70;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* For Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
